.app {
  display: grid;
  grid-template: 100% / 100%;
  place-items: center;
	&__todos {
		display: grid;
		grid-template: auto 35rem / 45rem;
		&-list {
			display: grid;
			padding: 2.4rem 1.6rem;
			border-radius: 8px;
			background: var(--white);
			color: var(--richBlack);
			font-size: 1.6rem;
			overflow: hidden auto;
		}
	}
}
